div.debug {
  padding-left: 20px;
  margin-bottom: 10px;
}
div.debug-wrapper {
  width: 100%;
}
div.debug-label {
  background-color: #222;
  color: white;
  padding: 5px;
}
div.debug-content {
  text-align: left;
  border: 1px dashed grey;
  border-top: none;
}
div.debug-content img{
  max-width: 100%;
}

div.debug.entity > div >
div.debug-label {
  background-color: darkred;
}
div.debug.entity > div >
div.debug-content {
  border-color: darkred;
  border-width: 3px;
}
div.debug-content {
  text-align: left;
  padding: 5px;
  border: 1px dashed grey;
  border-top: none;
}
