{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}

{% embed "@inspector_theme/utils/debug-entity.twig" %}
  {% block label %}
    <div class="name">Media : ({{ name }})</div>
    <div class="type">View Mode : ({{ view_mode }})</div>
  {% endblock %}
  {% block content %}
    {% set classes = [
      'media',
      'media--type-' ~ media.bundle()|clean_class,
      not media.isPublished() ? 'media--unpublished',
      view_mode ? 'media--view-mode-' ~ view_mode|clean_class,
    ] %}
    <article{{ attributes.addClass(classes) }}>
      {{ content }}
    </article>
  {% endblock %}
  {% block vars %}{% endblock %}
{% endembed %}
