{% embed "@inspector_theme/utils/debug-field.twig" %}
  {% block label %}
    <div class="name">{{ label }} ({{ element['#field_name'] }})</div>
    <div class="type">{{ element['#field_type'] }} | {{ element['#view_mode'] }}</div>
  {% endblock %}
  {% block content %}

    {% if label_hidden %}
      {% if multiple %}
        <div{{ attributes }}>
          {% for item in items %}
            <div{{ item.attributes }}>{{ item.content }}</div>
          {% endfor %}
        </div>
      {% else %}
        {% for item in items %}
          <div{{ attributes }}>{{ item.content }}</div>
        {% endfor %}
      {% endif %}
    {% else %}
      <div{{ attributes }}>
        <div{{ title_attributes ? title_attributes|without("class") : "" }}{% if label_display == "visually_hidden" %} class="u-hiddenVisually"{% endif %}></div>
        {% if multiple %}
        <div>
          {% endif %}
          {% for item in items %}
            <div{{ item.attributes }}>{{ item.content }}</div>
          {% endfor %}
          {% if multiple %}
        </div>
        {% endif %}
      </div>
    {% endif %}

  {% endblock %}
  {% block vars %}{% endblock %}
{% endembed %}

