<div class="debug entity">
  <div class="debug-wrapper">
    <div class="debug-label">{% block label %}{{ label }}{% endblock %}</div>
    <div class="debug-content">{% block content %}{{ content }}{% endblock %}</div>
    <div class="debug-vars">{% block vars %}{{ dd() }}{% endblock %}</div>
  </div>
</div>
